<!DOCTYPE html>
<html>
<head>
	<title><%= @page_title||"Article" %></title>
	<%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
</head>
<body class="metro">
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <text>
  <pre id=showtext><%= @article.text %></pre>
  </text>
  
</p>

<%= link_to 'Back', articles_path %>|<%= link_to 'Edit', edit_article_path(@article) %>
</body>
</html>
